<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{496,448}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1444,1},{496,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{274,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3480,581},{274,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{424,334}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{469,2047},{424,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{468,306}</string>
                <key>spriteSourceSize</key>
                <string>{500,350}</string>
                <key>textureRect</key>
                <string>{{1364,1291},{468,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{204,194}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3554,1339},{204,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{402,384}</string>
                <key>spriteSourceSize</key>
                <string>{420,400}</string>
                <key>textureRect</key>
                <string>{{1777,1599},{402,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{428,426}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{934,1162},{428,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{374,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,320}</string>
                <key>textureRect</key>
                <string>{{2582,1314},{374,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{320,296}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{2865,1678},{320,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{252,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{2163,1990},{252,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,286}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3163,1587},{300,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2155,2244},{210,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{240,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3312,1339},{240,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{234,184}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2948,751},{234,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{334,324}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{3144,435},{334,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,500}</string>
                <key>spriteSourceSize</key>
                <string>{408,500}</string>
                <key>textureRect</key>
                <string>{{2474,1},{408,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{444,474}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{469,1571},{444,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{500,454}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{482,611},{500,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{402,530}</string>
                <key>spriteSourceSize</key>
                <string>{450,550}</string>
                <key>textureRect</key>
                <string>{{1942,1},{402,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{479,610}</string>
                <key>spriteSourceSize</key>
                <string>{479,656}</string>
                <key>textureRect</key>
                <string>{{1,1},{479,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{480,374}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1448,451},{480,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{282,374}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{1834,1313},{282,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{284,444}</string>
                <key>spriteSourceSize</key>
                <string>{350,450}</string>
                <key>textureRect</key>
                <string>{{1593,2003},{284,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{208,236}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{223,2253},{208,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{198,194}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3451,1807},{198,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{322,386}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1902,989},{322,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{314,342}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2800,435},{314,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{280,256}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3163,1889},{280,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{220,200}</string>
                <key>textureRect</key>
                <string>{{3445,2003},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{466,530}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{1,1219},{466,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{178,226}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3411,2205},{178,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{160,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,220}</string>
                <key>textureRect</key>
                <string>{{2847,2298},{160,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{136,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{3316,991},{136,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{304,334}</string>
                <key>spriteSourceSize</key>
                <string>{320,350}</string>
                <key>textureRect</key>
                <string>{{2529,1690},{304,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{202,242}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3454,1135},{202,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{196,242}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3451,1563},{196,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{200,246}</string>
                <key>spriteSourceSize</key>
                <string>{220,250}</string>
                <key>textureRect</key>
                <string>{{3163,2147},{200,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{218,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,2253},{218,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{320,232}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{3078,1265},{320,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{482,356}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{938,804},{482,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{296,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2847,2000},{296,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,288}</string>
                <key>spriteSourceSize</key>
                <string>{360,320}</string>
                <key>textureRect</key>
                <string>{{2666,1024},{324,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{294,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3460,833},{294,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{479,604}</string>
                <key>spriteSourceSize</key>
                <string>{479,656}</string>
                <key>textureRect</key>
                <string>{{1,613},{479,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{278,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3480,279},{278,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{339,398}</string>
                <key>spriteSourceSize</key>
                <string>{355,400}</string>
                <key>textureRect</key>
                <string>{{2400,411},{339,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{324,228}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{3134,761},{324,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{422,402}</string>
                <key>spriteSourceSize</key>
                <string>{450,420}</string>
                <key>textureRect</key>
                <string>{{1353,1599},{422,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{456,254}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1942,405},{456,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{220,362}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{2856,1314},{220,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{374,414}</string>
                <key>spriteSourceSize</key>
                <string>{400,420}</string>
                <key>textureRect</key>
                <string>{{1217,2003},{374,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{450,456}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{482,1113},{450,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{272,322}</string>
                <key>spriteSourceSize</key>
                <string>{300,330}</string>
                <key>textureRect</key>
                <string>{{2992,991},{272,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{299,500}</string>
                <key>spriteSourceSize</key>
                <string>{357,500}</string>
                <key>textureRect</key>
                <string>{{946,503},{299,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{374,288}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{2290,1024},{374,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{482,432}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{2976,1},{482,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{436,398}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{915,1590},{436,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{268,240}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2706,752},{268,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{420,410}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{805,2047},{420,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{462,608}</string>
                <key>spriteSourceSize</key>
                <string>{500,610}</string>
                <key>textureRect</key>
                <string>{{482,1},{462,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{478,462}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1422,827},{478,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{274,442}</string>
                <key>spriteSourceSize</key>
                <string>{300,450}</string>
                <key>textureRect</key>
                <string>{{1879,2003},{274,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{496,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{946,1},{496,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{328,364}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2163,1660},{328,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2155,2244},{210,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{326,394}</string>
                <key>spriteSourceSize</key>
                <string>{350,420}</string>
                <key>textureRect</key>
                <string>{{1930,661},{326,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{270,378}</string>
                <key>spriteSourceSize</key>
                <string>{300,400}</string>
                <key>textureRect</key>
                <string>{{2326,752},{270,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{500,466}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1751},{500,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{344,370}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{2210,1314},{344,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{316,330}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{2515,1996},{316,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{276,298}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{3460,1},{276,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{3759,2472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1810ec6a91e29d97d8616bd185a44e9e:354a84b6f4bd6e82e18fc1006daca4bd:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
