<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_pb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,140}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{659,1337},{145,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,204}</string>
                <key>spriteSourceSize</key>
                <string>{656,204}</string>
                <key>textureRect</key>
                <string>{{1,1337},{656,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{800,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54968cab4d53d4aca859aec0bba2137d:2b31838f2100c0870798fb79b3c3e845:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
