<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{450,513},{34,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bloodbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,29}</string>
                <key>spriteSourceSize</key>
                <string>{77,29}</string>
                <key>textureRect</key>
                <string>{{479,640},{77,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bloodbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{475,304},{82,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,51}</string>
                <key>spriteSourceSize</key>
                <string>{121,51}</string>
                <key>textureRect</key>
                <string>{{162,1229},{121,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{379,998},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{310,1127},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{392,1084},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_signin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{392,1168},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_next_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{467,951},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_next_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{179,865},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,157}</string>
                <key>spriteSourceSize</key>
                <string>{576,157}</string>
                <key>textureRect</key>
                <string>{{117,1},{576,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{366,1248},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_titlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,42}</string>
                <key>spriteSourceSize</key>
                <string>{385,42}</string>
                <key>textureRect</key>
                <string>{{1,753},{385,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,50}</string>
                <key>spriteSourceSize</key>
                <string>{206,50}</string>
                <key>textureRect</key>
                <string>{{224,579},{206,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_golden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{368,1084},{25,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_goldennumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,21}</string>
                <key>spriteSourceSize</key>
                <string>{85,21}</string>
                <key>textureRect</key>
                <string>{{221,1408},{85,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_itembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{383,789},{108,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_yguphero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,27}</string>
                <key>spriteSourceSize</key>
                <string>{147,27}</string>
                <key>textureRect</key>
                <string>{{475,388},{147,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_ygupskill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,27}</string>
                <key>spriteSourceSize</key>
                <string>{147,27}</string>
                <key>textureRect</key>
                <string>{{215,1318},{147,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_AS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,52}</string>
                <key>textureRect</key>
                <string>{{443,1248},{74,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{467,899},{50,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_soul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,53}</string>
                <key>textureRect</key>
                <string>{{369,1388},{74,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{225,897},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_num_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{152,36}</string>
                <key>textureRect</key>
                <string>{{225,1039},{152,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_btn_update.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{62,29}</string>
                <key>textureRect</key>
                <string>{{310,1217},{62,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_rightbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,106}</string>
                <key>spriteSourceSize</key>
                <string>{157,106}</string>
                <key>textureRect</key>
                <string>{{117,914},{157,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item_rightbtn_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,106}</string>
                <key>spriteSourceSize</key>
                <string>{157,106}</string>
                <key>textureRect</key>
                <string>{{224,789},{157,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,25}</string>
                <key>spriteSourceSize</key>
                <string>{216,25}</string>
                <key>textureRect</key>
                <string>{{276,762},{216,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,23}</string>
                <key>spriteSourceSize</key>
                <string>{207,23}</string>
                <key>textureRect</key>
                <string>{{450,304},{207,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,59}</string>
                <key>textureRect</key>
                <string>{{221,1347},{72,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,59}</string>
                <key>textureRect</key>
                <string>{{295,1347},{72,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{369,1443},{71,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_tab_club_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,60}</string>
                <key>spriteSourceSize</key>
                <string>{333,60}</string>
                <key>textureRect</key>
                <string>{{117,579},{333,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_tab_club_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,70}</string>
                <key>spriteSourceSize</key>
                <string>{334,70}</string>
                <key>textureRect</key>
                <string>{{276,1},{334,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_tab_lv_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,60}</string>
                <key>spriteSourceSize</key>
                <string>{333,60}</string>
                <key>textureRect</key>
                <string>{{348,1},{333,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_tab_lv_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,70}</string>
                <key>spriteSourceSize</key>
                <string>{334,70}</string>
                <key>textureRect</key>
                <string>{{45,753},{334,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_txt_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,33}</string>
                <key>spriteSourceSize</key>
                <string>{188,33}</string>
                <key>textureRect</key>
                <string>{{1,1485},{188,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signin_itembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,206}</string>
                <key>spriteSourceSize</key>
                <string>{159,206}</string>
                <key>textureRect</key>
                <string>{{1,1140},{159,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signin_itemlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,218}</string>
                <key>spriteSourceSize</key>
                <string>{172,218}</string>
                <key>textureRect</key>
                <string>{{276,337},{172,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signin_txt_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{474,994},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signin_txt_qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,37}</string>
                <key>spriteSourceSize</key>
                <string>{76,37}</string>
                <key>textureRect</key>
                <string>{{45,1089},{76,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{215,1226},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_timebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{123,1073},{51,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{308,1408},{66,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{369,1325},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{307,1248},{68,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,55}</string>
                <key>spriteSourceSize</key>
                <string>{71,55}</string>
                <key>textureRect</key>
                <string>{{445,1356},{71,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{445,1429},{53,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_rubybg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,43}</string>
                <key>spriteSourceSize</key>
                <string>{284,43}</string>
                <key>textureRect</key>
                <string>{{179,579},{284,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_txt_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{62,29}</string>
                <key>textureRect</key>
                <string>{{442,1484},{62,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_txt_dh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{62,29}</string>
                <key>textureRect</key>
                <string>{{474,1141},{62,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_txt_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,29}</string>
                <key>spriteSourceSize</key>
                <string>{101,29}</string>
                <key>textureRect</key>
                <string>{{479,537},{101,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{154,48}</string>
                <key>textureRect</key>
                <string>{{162,1073},{154,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,48}</string>
                <key>spriteSourceSize</key>
                <string>{154,48}</string>
                <key>textureRect</key>
                <string>{{212,1077},{154,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{150,101}</string>
                <key>textureRect</key>
                <string>{{410,1},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_chenj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{150,101}</string>
                <key>textureRect</key>
                <string>{{367,899},{98,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_contentbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,203}</string>
                <key>spriteSourceSize</key>
                <string>{201,203}</string>
                <key>textureRect</key>
                <string>{{276,557},{201,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_contentoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,30}</string>
                <key>textureRect</key>
                <string>{{472,1068},{71,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{150,101}</string>
                <key>textureRect</key>
                <string>{{212,1127},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,135}</string>
                <key>spriteSourceSize</key>
                <string>{152,135}</string>
                <key>textureRect</key>
                <string>{{1,1348},{152,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{150,101}</string>
                <key>textureRect</key>
                <string>{{410,102},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{150,101}</string>
                <key>textureRect</key>
                <string>{{410,203},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tabbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,114}</string>
                <key>spriteSourceSize</key>
                <string>{750,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>task_progress_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{410,304},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_progress_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{479,719},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_txt_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{445,1324},{63,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>task_txt_unfinish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,30}</string>
                <key>spriteSourceSize</key>
                <string>{83,30}</string>
                <key>textureRect</key>
                <string>{{189,1352},{83,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_copylink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,32}</string>
                <key>spriteSourceSize</key>
                <string>{118,32}</string>
                <key>textureRect</key>
                <string>{{155,1352},{118,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,31}</string>
                <key>spriteSourceSize</key>
                <string>{69,31}</string>
                <key>textureRect</key>
                <string>{{221,1431},{69,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{509,1519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4949d1df68b1d4b096af5225736b56f9:70e2dcdbb049da9961d1a554e7e84c45:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
