<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,250}</string>
                <key>spriteSourceSize</key>
                <string>{208,250}</string>
                <key>textureRect</key>
                <string>{{1606,757},{208,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,250}</string>
                <key>spriteSourceSize</key>
                <string>{266,250}</string>
                <key>textureRect</key>
                <string>{{590,505},{266,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{290,250}</string>
                <key>spriteSourceSize</key>
                <string>{296,250}</string>
                <key>textureRect</key>
                <string>{{684,1},{290,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,250}</string>
                <key>spriteSourceSize</key>
                <string>{219,250}</string>
                <key>textureRect</key>
                <string>{{850,757},{217,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{192,250}</string>
                <key>textureRect</key>
                <string>{{1810,505},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,250}</string>
                <key>spriteSourceSize</key>
                <string>{231,250}</string>
                <key>textureRect</key>
                <string>{{1350,505},{231,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,250}</string>
                <key>spriteSourceSize</key>
                <string>{113,250}</string>
                <key>textureRect</key>
                <string>{{1879,253},{113,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,250}</string>
                <key>spriteSourceSize</key>
                <string>{265,250}</string>
                <key>textureRect</key>
                <string>{{900,253},{265,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,250}</string>
                <key>spriteSourceSize</key>
                <string>{181,250}</string>
                <key>textureRect</key>
                <string>{{253,1513},{181,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,250}</string>
                <key>spriteSourceSize</key>
                <string>{224,250}</string>
                <key>textureRect</key>
                <string>{{1102,757},{224,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{225,250}</string>
                <key>textureRect</key>
                <string>{{1652,253},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{234,250}</string>
                <key>textureRect</key>
                <string>{{1758,1},{234,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,250}</string>
                <key>spriteSourceSize</key>
                <string>{211,250}</string>
                <key>textureRect</key>
                <string>{{526,1009},{211,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,250}</string>
                <key>spriteSourceSize</key>
                <string>{302,250}</string>
                <key>textureRect</key>
                <string>{{1,505},{302,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{225,250}</string>
                <key>textureRect</key>
                <string>{{1583,505},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,250}</string>
                <key>spriteSourceSize</key>
                <string>{274,250}</string>
                <key>textureRect</key>
                <string>{{976,1},{274,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,250}</string>
                <key>spriteSourceSize</key>
                <string>{198,250}</string>
                <key>textureRect</key>
                <string>{{1816,757},{198,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{319,253},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,250}</string>
                <key>spriteSourceSize</key>
                <string>{290,250}</string>
                <key>textureRect</key>
                <string>{{1,757},{290,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,250}</string>
                <key>spriteSourceSize</key>
                <string>{224,250}</string>
                <key>textureRect</key>
                <string>{{1354,757},{224,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,250}</string>
                <key>spriteSourceSize</key>
                <string>{181,250}</string>
                <key>textureRect</key>
                <string>{{505,1513},{181,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{231,242}</string>
                <key>spriteSourceSize</key>
                <string>{231,250}</string>
                <key>textureRect</key>
                <string>{{739,976},{231,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,250}</string>
                <key>spriteSourceSize</key>
                <string>{277,250}</string>
                <key>textureRect</key>
                <string>{{621,253},{277,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,250}</string>
                <key>spriteSourceSize</key>
                <string>{283,250}</string>
                <key>textureRect</key>
                <string>{{305,505},{283,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,250}</string>
                <key>spriteSourceSize</key>
                <string>{214,250}</string>
                <key>textureRect</key>
                <string>{{1588,1009},{214,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,250}</string>
                <key>spriteSourceSize</key>
                <string>{201,250}</string>
                <key>textureRect</key>
                <string>{{720,1261},{201,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,250}</string>
                <key>spriteSourceSize</key>
                <string>{185,250}</string>
                <key>textureRect</key>
                <string>{{1,1513},{185,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,250}</string>
                <key>spriteSourceSize</key>
                <string>{248,250}</string>
                <key>textureRect</key>
                <string>{{858,505},{248,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{159,238}</string>
                <key>spriteSourceSize</key>
                <string>{159,250}</string>
                <key>textureRect</key>
                <string>{{1840,1009},{159,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,250}</string>
                <key>spriteSourceSize</key>
                <string>{219,250}</string>
                <key>textureRect</key>
                <string>{{1084,983},{219,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,250}</string>
                <key>spriteSourceSize</key>
                <string>{215,250}</string>
                <key>textureRect</key>
                <string>{{923,1228},{215,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,250}</string>
                <key>spriteSourceSize</key>
                <string>{136,250}</string>
                <key>textureRect</key>
                <string>{{757,1513},{136,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,250}</string>
                <key>spriteSourceSize</key>
                <string>{110,250}</string>
                <key>textureRect</key>
                <string>{{972,976},{110,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,250}</string>
                <key>spriteSourceSize</key>
                <string>{258,250}</string>
                <key>textureRect</key>
                <string>{{1252,1},{258,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{1,253},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,250}</string>
                <key>spriteSourceSize</key>
                <string>{202,250}</string>
                <key>textureRect</key>
                <string>{{1140,1204},{202,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,250}</string>
                <key>spriteSourceSize</key>
                <string>{246,250}</string>
                <key>textureRect</key>
                <string>{{1167,253},{246,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,250}</string>
                <key>spriteSourceSize</key>
                <string>{222,250}</string>
                <key>textureRect</key>
                <string>{{496,1261},{222,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,250}</string>
                <key>spriteSourceSize</key>
                <string>{217,250}</string>
                <key>textureRect</key>
                <string>{{1336,983},{217,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,250}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{1350,1454},{207,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,250}</string>
                <key>spriteSourceSize</key>
                <string>{235,250}</string>
                <key>textureRect</key>
                <string>{{1415,253},{235,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,250}</string>
                <key>spriteSourceSize</key>
                <string>{313,250}</string>
                <key>textureRect</key>
                <string>{{369,1},{313,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,250}</string>
                <key>spriteSourceSize</key>
                <string>{244,250}</string>
                <key>textureRect</key>
                <string>{{1512,1},{244,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,248}</string>
                <key>spriteSourceSize</key>
                <string>{210,250}</string>
                <key>textureRect</key>
                <string>{{1140,1456},{208,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,250}</string>
                <key>spriteSourceSize</key>
                <string>{201,250}</string>
                <key>textureRect</key>
                <string>{{1813,1249},{201,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{192,250}</string>
                <key>textureRect</key>
                <string>{{1765,1501},{192,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,250}</string>
                <key>spriteSourceSize</key>
                <string>{366,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,250}</string>
                <key>spriteSourceSize</key>
                <string>{240,250}</string>
                <key>textureRect</key>
                <string>{{1108,505},{240,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{274,1009},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,250}</string>
                <key>spriteSourceSize</key>
                <string>{271,250}</string>
                <key>textureRect</key>
                <string>{{1,1009},{271,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{270,250}</string>
                <key>textureRect</key>
                <string>{{293,757},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{283,216}</string>
                <key>spriteSourceSize</key>
                <string>{313,250}</string>
                <key>textureRect</key>
                <string>{{565,757},{283,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,250}</string>
                <key>spriteSourceSize</key>
                <string>{212,250}</string>
                <key>textureRect</key>
                <string>{{1561,1225},{212,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,250}</string>
                <key>spriteSourceSize</key>
                <string>{204,250}</string>
                <key>textureRect</key>
                <string>{{1559,1454},{204,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,250}</string>
                <key>spriteSourceSize</key>
                <string>{215,250}</string>
                <key>textureRect</key>
                <string>{{1344,1202},{215,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,250}</string>
                <key>spriteSourceSize</key>
                <string>{241,250}</string>
                <key>textureRect</key>
                <string>{{253,1261},{241,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsters.png</string>
            <key>size</key>
            <string>{2016,1705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13ad1a3dc445367f1b8cfdf743d703e8:b793ac55f105e7eaf0806d794932a2c7:4a4e5fdb152a337d53a53b7ad3a893ef$</string>
            <key>textureFileName</key>
            <string>monsters.png</string>
        </dict>
    </dict>
</plist>
