<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Default_DialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{461,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{461,393}}</string>
                <key>sourceSize</key>
                <string>{465,393}</string>
            </dict>
            <key>RoundedCorners.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,363},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>btnGreenDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>btnGreenNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>btnGreenSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>btnRaceNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,465},{185,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{185,48}}</string>
                <key>sourceSize</key>
                <string>{185,56}</string>
            </dict>
            <key>btnRaceSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,465},{185,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,56}}</string>
                <key>sourceSize</key>
                <string>{185,56}</string>
            </dict>
            <key>btnRedNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,527},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>btnRedSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,515},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>commonNoTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,359}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{615,359}}</string>
                <key>sourceSize</key>
                <string>{615,361}</string>
            </dict>
            <key>eliteBattleSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{579,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,123}}</string>
                <key>sourceSize</key>
                <string>{579,123}</string>
            </dict>
            <key>eliteDropBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,515},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>itemBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,465},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_img.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d44cf584c9e9edbb645a5e0b1c2c05:10a4f69662e30f6e452eb3dee732a045:0d5994d23db32fe94446055c79c2b1e7$</string>
            <key>textureFileName</key>
            <string>UI_img.png</string>
        </dict>
    </dict>
</plist>
